AIRFLOW_HOME=$(realpath "./orc_airflow/airflow")
AIRFLOW__CORE__LOAD_EXAMPLES=false
WINE_LIST_EXP_DIR=/Users/jonathan/jonathan/projects/wine_wiki/wine_wiki_site/wine_list_db

export AIRFLOW_HOME
export AIRFLOW__CORE__LOAD_EXAMPLES
export WINE_LIST_EXP_DIR

export AIRFLOW_CONN_MY_PROD_DATABASE='[{"id": "2", "conn_id": "data_mining_db_test", "conn_type": "duckdb", "description": null, "host": "/Users/jonathan/jonathan/projects/wine_wiki/wine_data_mining/orc
_airflow/data_mining_test.db", "schema": null, "login": null, "password": null, "port": null, "is_encrypted": "False", "is_extra_encrypted": "False", "extra_dejson"
: {}, "get_uri": "duckdb://%2FUsers%2Fjonathan%2Fjonathan%2Fprojects%2Fwine_wiki%2Fwine_data_mining%2Forc_airflow%2Fdata_mining_test.db"}]'
